BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

BraceWrapping:
  AfterFunction: true

BreakBeforeBraces: Custom

BinPackArguments: false
BinPackParameters: false

AllowAllParametersOfDeclarationOnNextLine: true
AllowAllArgumentsOnNextLine: false

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false

ColumnLimit: 0

SpacesInParentheses: false
ReflowComments: false
