menu "Program Configuration"

    config WIFI_SSID
        string "Wi-Fi SSID"
    config WIFI_PASS
        string "Wi-Fi Password"
    config BOT_TOKEN
        string "Telegram Bot Token"
        
endmenu